<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Superhero</title>
        <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="/app.js"></script>
        <link rel ="stylesheet" type ="text/css" href ="/first.css" />
    </head>
    <body>
        <div><a href="/superheroes"> See all superheroes</a></div>
    </body>
    </html>