@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
body {
    background-image: url('https://i.ytimg.com/vi/Wj6oo0dtANY/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
    text-align: center;
    font-weight: 900;
}
a {
    color: aliceblue;
    font-size: 30px;
    font-family: 'Bungee Outline', cursive;
}
a:hover {
    text-shadow: 2px 2px 4px #000000;
}
div {
    margin-top: 3%;
}