@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
body {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 24px;
    color: darkgreen;
}
h1 {
    margin: 4% auto;
    font-size: 40px;
    font-family: 'Bungee Outline', cursive;
}
li {
    font-family: 'Quantico', sans-serif;
    list-style: none;
    color: deeppink;
    margin: 2% auto;
}
.dc {
    float: left;
    width: 40%;
}
.marvel {
    float: right;
    width: 40%;
}
a {
    text-decoration: none;
    color: deeppink;
}

img {
    margin: auto;
    display: block;
    margin-bottom: 3%;
}
.back {
    color: deepskyblue;
}
.back:hover {
    text-shadow: 2px 2px 4px #000000;
}
.list:hover {
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.list {
    border: 1px solid darkblue;
    max-width: 200px;
    border-radius: 10px;
}

