@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
body {
    background-image: url('https://media.indiedb.com/images/games/1/34/33057/Hd_Wallpaper_Space_Stars_2014_Free_15_HD_Wallpapers.jpg');
    color: white;
    text-align: center;
    font-size: 24px;
    font-family: 'Press Start 2P', cursive;
}
.container {
    width: 50%;
    float: left;
}
.info {
    width: 70%;
    margin: auto;
    border: 4px dashed whitesmoke;
    height: 700px;
    padding: 3%;
    border-radius: 10px;

}
ul {
    margin-left: 50%;
}
li {
    font-family: 'Quantico', sans-serif;
    list-style: none;
    margin: 5%;
    text-align: left;
}

.back {
    margin-top: 2%;
}
a {
    text-decoration: none;
    color: whitesmoke;
}
a:hover {
    text-shadow: 2px 2px 4px whitesmoke;
}
h1 {
    margin: 4% auto;
    font-size: 40px;
    font-family: 'Bungee Outline', cursive;
}
h2 {
    font-family: 'Quantico', sans-serif;;
}